.modal {
	max-width: 80%;
	min-width: 30%;
	height: 80vh;
	margin-top: 75px;
	-webkit-box-shadow: 1px 1px 70px -17px rgba(0,0,0,1);
	-moz-box-shadow: 1px 1px 70px -17px rgba(0,0,0,1);
	box-shadow: 1px 1px 70px -17px rgba(0,0,0,1);
	.border {
		border-right: solid 1px rgba(102, 102, 102, .6);
	}
}
