.background-g {
  width: 100vw;
  height: 100vh;
  background: #de485b;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #de485b 9%, #2bb4b3 86%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #de485b 9%, #2bb4b3 86%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #de485b 9%, #2bb4b3 86%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de485b', endColorstr='#2bb4b3',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
