.background-g {
  width: 100vw;
  height: 100vh;
  background: #de485b;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #de485b 9%, #2bb4b3 86%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #de485b 9%, #2bb4b3 86%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #de485b 9%, #2bb4b3 86%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de485b', endColorstr='#2bb4b3',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.d-col-1 {
  width: 7.05%; }

.d-col-2 {
  width: 15.5%; }

.d-col-3, .d-col-thirds {
  width: 23.95%; }

.d-col-4, .d-col-quarters {
  width: 32.4%; }

.d-col-5 {
  width: 40.85%; }

.d-col-6, .d-col-halfs {
  width: 49.3%; }

.d-col-7 {
  width: 57.75%; }

.d-col-8 {
  width: 66.2%; }

.d-col-9 {
  width: 74.65%; }

.d-col-10 {
  width: 83.1%; }

.d-col-11 {
  width: 91.55%; }

.d-col-12, .d-col-full {
  width: 100%; }

.flex {
  display: flex; }

.justify-c {
  justify-content: center; }

.justify-sb {
  justify-content: space-between; }

.modal {
  width: 80%;
  height: 80vh;
  margin-top: 75px;
  background-color: blue; }

body {
  font-family: "OpenSans-CondLight", sans-serif; }
