.background-g {
  width: 100vw;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#de485b+0,2bb4b3+100 */
  background: #de485b;
  /* Old browsers */
  background: -moz-linear-gradient(left, #de485b 0%, #2bb4b3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #de485b 0%, #2bb4b3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #de485b 0%, #2bb4b3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de485b', endColorstr='#2bb4b3',GradientType=1 );
  /* IE6-9 */ }

.modal {
  background-color: rgba(255, 255, 255, 0.4); }
  .modal .d-col-3, .modal a {
    color: #fff;
    opacity: .8; }
  .modal .d-col-8 {
    color: #1C5C5E; }
  .modal .fa-check-square {
    color: #41B24F; }

.hover:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer; }

.hover:hover a {
  color: #1C5C5E; }

.d-col-1 {
  width: 7.05%; }

.d-col-2 {
  width: 15.5%; }

.d-col-3, .d-col-thirds {
  width: 23.95%; }

.d-col-4, .d-col-quarters {
  width: 32.4%; }

.d-col-5 {
  width: 40.85%; }

.d-col-6, .d-col-halfs {
  width: 49.3%; }

.d-col-7 {
  width: 57.75%; }

.d-col-8 {
  width: 66.2%; }

.d-col-9 {
  width: 74.65%; }

.d-col-10 {
  width: 83.1%; }

.d-col-11 {
  width: 91.55%; }

.d-col-12, .d-col-full {
  width: 100%; }

html * {
  padding: 0;
  margin: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-c {
  justify-content: center; }

.justify-sb {
  justify-content: space-between; }

.container {
  margin-top: 50px; }
  .container .flex .box:first-child {
    margin-bottom: 30px; }
  .container .box {
    width: 120px;
    height: 120px;
    border: 4px solid #41B24F;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2); }
  .container .flex .box:last-child {
    border: 4px dashed #1C5C5E; }
  .container .fa-slack, .container .fa-dropbox, .container .fa-get-pocket, .container .fa-github, .container .fa-trello, .container .fa-plus {
    position: absolute;
    top: 35px;
    left: 30px; }
  .container .fa-check-square {
    position: absolute;
    bottom: 0;
    right: 0; }
  .container .mb-50 {
    margin-bottom: 60px; }

li {
  padding: 12px 50px; }

.d-col-8 {
  margin-left: 50px; }

.d-col-3 h1 {
  margin: 50px 0 20px 50px; }

.d-col-8 h1 {
  margin: 50px 0 20px 0; }

.modal {
  position: relative; }
  .modal .fa-times {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 1.3rem; }

.modal {
  max-width: 80%;
  min-width: 30%;
  height: 80vh;
  margin-top: 75px;
  -webkit-box-shadow: 1px 1px 70px -17px black;
  -moz-box-shadow: 1px 1px 70px -17px black;
  box-shadow: 1px 1px 70px -17px black; }
  .modal .border {
    border-right: solid 1px rgba(102, 102, 102, 0.6); }

body {
  -webkit-font-smoothing: antialiased;
  font-family: "OpenSans-CondLight", sans-serif; }
  body ul li {
    list-style-type: none; }
    body ul li a {
      text-decoration: none; }
  body .d-col-3 h1 {
    opacity: .5; }
  body h1 {
    font-weight: 100;
    font-size: 2.1rem; }
  body p {
    font-size: 1.3rem; }
  body .fa-slack, body .fa-dropbox, body .fa-get-pocket, body .fa-github, body .fa-trello, body .fa-plus {
    font-size: 3.4rem; }
